:root{
--themecolor1:#ffa781;
--themecolor2:#5b0e2d;
}



.App{
    text-align: center;
    background-color:var(--themecolor2);
    color: white;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 2em;
    padding: 20px;
    border-radius: 10px;
}